// =====================================================
// TYPOGRAPHY
// =====================================================

p {
  margin-bottom: 1.3rem;
  text-align: justify;
  hyphens: auto;
}

strong {
  font-weight: 500;
  color: $gold;
}

em {
  color: $text2;
}